/* -------------------------------------------------------------------------- */
/*                                    TAGS                                    */
/* -------------------------------------------------------------------------- */
.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    size: 3.5rem;
    line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                                     ID                                     */
/* -------------------------------------------------------------------------- */
#title {
    padding-bottom: 15%;
    text-align: left;
}
#features {
    background-color: #fff;
    position: relative;
    z-index: 1;
}
#testimonials {
    background-color: #ef8172;
    color: #fff;
}
#press {
    padding-bottom: 3%;
    background-color: #ef8172;
}
#pricing {
    padding: 100px;
}
/* -------------------------------------------------------------------------- */
/*                         White and Colored Sections                         */
/* -------------------------------------------------------------------------- */
.colored-section{
    background-color: #ff4c68;
    color: #fff;
}
.white-section{
    background-color: #fff;
    color: #000;
}
/* -------------------------------------------------------------------------- */
/*                                 Containers                                 */
/* -------------------------------------------------------------------------- */
.container-fluid {
    padding: 7% 15%;
}

/* -------------------------------------------------------------------------- */
/*                                 Title Section                             */
/* -------------------------------------------------------------------------- */
#title .container-fluid{
    padding: 3% 15% 7%;
}
.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;

}
/* -------------------------------------------------------------------------- */
/*                                   Nav Bar                                  */
/* -------------------------------------------------------------------------- */


.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

/* -------------------------------------------------------------------------- */
/*                              Download Buttons                              */
/* -------------------------------------------------------------------------- */

.download-button {
    margin: 5% 3% 5% 0;
}



/* -------------------------------------------------------------------------- */
/*                                 2nd section                                */
/* -------------------------------------------------------------------------- */

.text-features {
    font-size: 1.5rem;
    font-weight: bold;

}
.text-features2 {
    color: #6f6f6f;
}
.icon {
    color: #ef8172;
    padding: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.icon:hover {
    color: #ff4c68;
}

/* -------------------------------------------------------------------------- */
/*                                Testimonials                                */
/* -------------------------------------------------------------------------- */

.testimonials-image {
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}
.testimonial-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    size: 3.5rem;
    line-height: 1.5;
}

/* -------------------------------------------------------------------------- */
/*                                    Press                                   */
/* -------------------------------------------------------------------------- */

.press-logo {
    margin: 20px 20px 35px;
    width: 10%;

}

/* --------------------------------- Pricing -------------------------------- */
.pricing-column {
    padding: 3% 2%;

}
.text-pricing {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    size: 3.5rem;
    line-height: 1.5;

}
/* -------------------------------------------------------------------------- */
/*                                 Media Query                                */
/* -------------------------------------------------------------------------- */

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }

}
