/* -------------------------------------------------------------------------- */
/*                                    TAGS                                    */
/* -------------------------------------------------------------------------- */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    size: 3.5rem;
    line-height: 1.5;

}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    size: 3.5rem;
    line-height: 1.5;

}

body {
    font-family: 'Montserrat', sans-serif;
}

/* -------------------------------------------------------------------------- */
/*                                     ID                                     */
/* -------------------------------------------------------------------------- */

#title {
    background-color: #ff4c68;
    color: #fff;
    padding-bottom: 15%;
    
}
#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
#testimonials {

    background-color: #ef8172;
    text-align: center;
    color: #fff;

}
#press {
    text-align: center;
    padding-bottom: 3%;
    background-color: #ef8172;
}
#pricing{
    padding: 100px;
    text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                                   Nav Bar                                  */
/* -------------------------------------------------------------------------- */

.container-fluid-top{
    padding: 7% 15%;
}
.container-fluid {
    padding: 7% 15%;
}
.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

/* -------------------------------------------------------------------------- */
/*                              Download Buttons                              */
/* -------------------------------------------------------------------------- */

.download-button {
    margin: 5% 3% 5% 0;
}

/* -------------------------------------------------------------------------- */
/*                                 Title image                                */
/* -------------------------------------------------------------------------- */

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right:30%;
 
}

/* -------------------------------------------------------------------------- */
/*                                 2nd section                                */
/* -------------------------------------------------------------------------- */

.easy1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.easy2 {
    color: #6f6f6f;
    text-align: center;
}
.elite1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.elite2 {
    color: #6f6f6f;
    text-align: center;
}
.heart1 {
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}
.heart2 {
    text-align: center;
    color: #6f6f6f;
}
.icon {
    text-align: center;
    color: #ef8172;
    padding: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.icon:hover {
    color: #ff4c68;
}

/* -------------------------------------------------------------------------- */
/*                                Testimonials                                */
/* -------------------------------------------------------------------------- */

.testimonials-image {
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}
.carousel-item {
    padding: 7% 15%;
}

/* -------------------------------------------------------------------------- */
/*                                    Press                                   */
/* -------------------------------------------------------------------------- */

.press-logo {
    margin: 20px 20px 35px;
    width: 10%;

}

/* --------------------------------- Pricing -------------------------------- */
.pricing-column{
    padding:3% 2%;

}
